<div class="echo-inner-img-ct-1  img-transition-scale">
    <a href="#"><img src="{{ post.cover_image }}" alt="Echo" class="post-style-1-frist-hero-img"></a>
</div>
<h2 class="echo-hero-title text-capitalize font-weight-bold"><a href="post-details.html" class="title-hover">{{ post.title }}</a></h2>


{{ post.content|raw }}