<div class="echo-hero-baner">
    <div class="echo-inner-img-ct-1  img-transition-scale">
        <a href="post-details.html"><img src="{{ post.cover_image}}"
                                         alt="Echo"></a>
    </div>
    <div class="echo-banner-texting">
        <h3 class="echo-hero-title text-capitalize font-weight-bold">
            <a href="/post/{{ post.id }}" class="title-hover">{{ post.title }}</a>
        </h3>
        <hr>
        <p class="echo-hero-discription">{{ post.description }} </p>
    </div>
</div>