{% extends "/front/layout.html.twig" %}

{% block content %}

    {% include '/front/blocks/article-single-card.html.twig' %}

    <a class="btn btn-success btn-lg" href="/">вернуться на главную страницу -></a>
{% endblock %}